@model PulseGamingMVC.Models.Genero

@{
    ViewData["Title"] = "ModificarGenero";
}

<h1>Modificar Genero</h1>

<p>
    <a asp-action="GenerosView" class="btn btn-dark"><i class="bi bi-arrow-90deg-left"></i></a>
</p>
<hr />

<div class="row">
    <div class="col-md-4">
        <form asp-action="ModificarGenero">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="IdGenero" class="control-label"></label>
                <input asp-for="IdGenero" value="@Model.IdGenero" class="form-control" />
                <span asp-validation-for="IdGenero" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NombreGenero" class="control-label"></label>
                <input asp-for="NombreGenero" value="@Model.NombreGenero" class="form-control" />
                <span asp-validation-for="NombreGenero" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
