USE [PulseGaming]
GO
/****** Object:  Table [dbo].[Juego]    Script Date: 19/03/2024 12:49:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Juego](
	[IDJuego] [int] NOT NULL,
	[NombreJuego] [nvarchar](100) NOT NULL,
	[IDGenero] [int] NOT NULL,
	[ImagenJuego] [nvarchar](100) NOT NULL,
	[PrecioJuego] [float] NOT NULL,
	[DescripcionJuego] [nvarchar](max) NULL,
	[IDEditor] [int] NOT NULL,
 CONSTRAINT [PK_Juego] PRIMARY KEY CLUSTERED 
(
	[IDJuego] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  View [dbo].[V_GRUPO_JUEGOS]    Script Date: 19/03/2024 12:49:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[V_GRUPO_JUEGOS]
as
	select cast(
    ROW_NUMBER() OVER (ORDER BY NombreJuego) as int) AS POSICION
    , IDJuego, NombreJuego, IDGenero, ImagenJuego, PrecioJuego, DescripcionJuego, IDEditor from Juego
GO
/****** Object:  Table [dbo].[DetallesPedido]    Script Date: 19/03/2024 12:49:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DetallesPedido](
	[IDDetallePedido] [int] NOT NULL,
	[IDJuego] [int] NULL,
	[Total] [float] NULL,
	[Cantidad] [int] NULL,
	[IDPedido] [int] NULL,
 CONSTRAINT [PK_DetallesPedido] PRIMARY KEY CLUSTERED 
(
	[IDDetallePedido] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Editor]    Script Date: 19/03/2024 12:49:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Editor](
	[IDEditor] [int] NOT NULL,
	[NombreEditor] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Editor] PRIMARY KEY CLUSTERED 
(
	[IDEditor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Genero]    Script Date: 19/03/2024 12:49:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Genero](
	[IDGenero] [int] NOT NULL,
	[NombreGenero] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Genero] PRIMARY KEY CLUSTERED 
(
	[IDGenero] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pedidos]    Script Date: 19/03/2024 12:49:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pedidos](
	[IDPedido] [int] IDENTITY(1,1) NOT NULL,
	[FechaPedido] [datetime] NOT NULL,
	[Ciudad] [nvarchar](100) NOT NULL,
	[Pais] [nvarchar](100) NOT NULL,
	[IDUsuario] [int] NOT NULL,
	[Total] [float] NOT NULL,
 CONSTRAINT [PK__Pedidos__00C11F99923CE366] PRIMARY KEY CLUSTERED 
(
	[IDPedido] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Plataforma]    Script Date: 19/03/2024 12:49:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Plataforma](
	[IDPlataforma] [int] NOT NULL,
	[NombrePlataforma] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Plataforma] PRIMARY KEY CLUSTERED 
(
	[IDPlataforma] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PlataformaJuego]    Script Date: 19/03/2024 12:49:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PlataformaJuego](
	[IDPlataformaJuego] [int] NOT NULL,
	[IDPlataforma] [int] NOT NULL,
	[AñoSalida] [int] NOT NULL,
	[IDJuego] [int] NULL,
 CONSTRAINT [PK_PlataformaJuego] PRIMARY KEY CLUSTERED 
(
	[IDPlataformaJuego] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 19/03/2024 12:49:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[IDRole] [int] NOT NULL,
	[NombreRole] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Roles] PRIMARY KEY CLUSTERED 
(
	[IDRole] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuarios]    Script Date: 19/03/2024 12:49:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[IDUsuario] [int] NOT NULL,
	[Password] [varbinary](max) NOT NULL,
	[Nombre] [nvarchar](50) NOT NULL,
	[Apellidos] [nvarchar](50) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[Telefono] [int] NOT NULL,
	[IDRole] [int] NOT NULL,
	[Salt] [nvarchar](200) NOT NULL,
 CONSTRAINT [PK_Usuarios] PRIMARY KEY CLUSTERED 
(
	[IDUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[Editor] ([IDEditor], [NombreEditor]) VALUES (1, N'Xbox Game Studios')
INSERT [dbo].[Editor] ([IDEditor], [NombreEditor]) VALUES (2, N'Landfall')
INSERT [dbo].[Editor] ([IDEditor], [NombreEditor]) VALUES (3, N'Activision')
GO
INSERT [dbo].[Genero] ([IDGenero], [NombreGenero]) VALUES (1, N'Shooter')
INSERT [dbo].[Genero] ([IDGenero], [NombreGenero]) VALUES (2, N'Simulacion')
INSERT [dbo].[Genero] ([IDGenero], [NombreGenero]) VALUES (3, N'Carreras')
GO
INSERT [dbo].[Juego] ([IDJuego], [NombreJuego], [IDGenero], [ImagenJuego], [PrecioJuego], [DescripcionJuego], [IDEditor]) VALUES (1, N'Call of Duty Black Ops III', 1, N'bo3.jpg', 59.99, N'Call of Duty: Black Ops III está separado en tres partes, campaña de un jugador que sigue la historia del mundo tras la tercera Guerra Fría, el multijugador y el modo zombi. Este es un Call of Duty futurista que intenta reimaginar cómo podría ser la guerra en el futuro si no hacemos movimientos para asegurarnos de que las tendencias actuales se detengan.', 3)
GO
SET IDENTITY_INSERT [dbo].[Pedidos] ON 

INSERT [dbo].[Pedidos] ([IDPedido], [FechaPedido], [Ciudad], [Pais], [IDUsuario], [Total]) VALUES (1, CAST(N'2024-03-11T18:40:41.523' AS DateTime), N'wdqd', N'qwd', 1, 49.99)
INSERT [dbo].[Pedidos] ([IDPedido], [FechaPedido], [Ciudad], [Pais], [IDUsuario], [Total]) VALUES (2, CAST(N'2024-03-11T18:46:25.630' AS DateTime), N'wdqd', N'feehg', 1, 49.99)
INSERT [dbo].[Pedidos] ([IDPedido], [FechaPedido], [Ciudad], [Pais], [IDUsuario], [Total]) VALUES (3, CAST(N'2024-03-11T18:50:55.690' AS DateTime), N'hola', N'hola', 1, 59.99)
SET IDENTITY_INSERT [dbo].[Pedidos] OFF
GO
INSERT [dbo].[Plataforma] ([IDPlataforma], [NombrePlataforma]) VALUES (1, N'XBOX Series X')
INSERT [dbo].[Plataforma] ([IDPlataforma], [NombrePlataforma]) VALUES (2, N'PlayStation 5')
INSERT [dbo].[Plataforma] ([IDPlataforma], [NombrePlataforma]) VALUES (3, N'PlayStation 4')
GO
INSERT [dbo].[PlataformaJuego] ([IDPlataformaJuego], [IDPlataforma], [AñoSalida], [IDJuego]) VALUES (1, 3, 2015, NULL)
INSERT [dbo].[PlataformaJuego] ([IDPlataformaJuego], [IDPlataforma], [AñoSalida], [IDJuego]) VALUES (2, 5, 2023, NULL)
INSERT [dbo].[PlataformaJuego] ([IDPlataformaJuego], [IDPlataforma], [AñoSalida], [IDJuego]) VALUES (3, 5, 2019, NULL)
GO
INSERT [dbo].[Roles] ([IDRole], [NombreRole]) VALUES (1, N'Admin')
INSERT [dbo].[Roles] ([IDRole], [NombreRole]) VALUES (2, N'Cliente')
GO
INSERT [dbo].[Usuarios] ([IDUsuario], [Password], [Nombre], [Apellidos], [Email], [Telefono], [IDRole], [Salt]) VALUES (1, 0x557D0D5D8E454AAA7BC23230A09F35120F3C851178F6FF4A6E963F011B3C975242E2B40046AC7A4EFFF953D071847F48CDEBA2764B8FB6B2782EE0678F33B2FC, N'Razvan', N'Lucaci', N'razvan@email.com', 1234567, 1, N'¯Vg4?gè>Än­^fÎüàÛlV?ì·Òà%q_ð Ï^(:½í>]B''Y')
INSERT [dbo].[Usuarios] ([IDUsuario], [Password], [Nombre], [Apellidos], [Email], [Telefono], [IDRole], [Salt]) VALUES (3, 0x6C5D90E9962F1E46C8D40F8F5BFE29A974BD760A46A8ED68D79B698F2E707627EDC8C6D1D6A5C30BDAFF5DA19765C34D9366310A17584075727403D5A52F9147, N'Carlos', N'carlos', N'carlos@email.com', 1234567, 2, N'?pãmpÊÅ2ÉÛ9?1>FB´|íEñÒ0Í3ÓõXñº¨mÞ§>Øn+XwB')
GO
ALTER TABLE [dbo].[DetallesPedido]  WITH CHECK ADD  CONSTRAINT [FK_DetallesPedido_Juego] FOREIGN KEY([IDJuego])
REFERENCES [dbo].[Juego] ([IDJuego])
GO
ALTER TABLE [dbo].[DetallesPedido] CHECK CONSTRAINT [FK_DetallesPedido_Juego]
GO
ALTER TABLE [dbo].[DetallesPedido]  WITH CHECK ADD  CONSTRAINT [FK_DetallesPedido_Pedidos] FOREIGN KEY([IDPedido])
REFERENCES [dbo].[Pedidos] ([IDPedido])
GO
ALTER TABLE [dbo].[DetallesPedido] CHECK CONSTRAINT [FK_DetallesPedido_Pedidos]
GO
ALTER TABLE [dbo].[Juego]  WITH CHECK ADD  CONSTRAINT [FK_Juego_Editor] FOREIGN KEY([IDEditor])
REFERENCES [dbo].[Editor] ([IDEditor])
GO
ALTER TABLE [dbo].[Juego] CHECK CONSTRAINT [FK_Juego_Editor]
GO
ALTER TABLE [dbo].[Juego]  WITH CHECK ADD  CONSTRAINT [FK_Juego_Genero] FOREIGN KEY([IDGenero])
REFERENCES [dbo].[Genero] ([IDGenero])
GO
ALTER TABLE [dbo].[Juego] CHECK CONSTRAINT [FK_Juego_Genero]
GO
ALTER TABLE [dbo].[Pedidos]  WITH CHECK ADD  CONSTRAINT [FK_Pedidos_Usuarios] FOREIGN KEY([IDUsuario])
REFERENCES [dbo].[Usuarios] ([IDUsuario])
GO
ALTER TABLE [dbo].[Pedidos] CHECK CONSTRAINT [FK_Pedidos_Usuarios]
GO
ALTER TABLE [dbo].[PlataformaJuego]  WITH CHECK ADD  CONSTRAINT [FK_PlataformaJuego_Juego] FOREIGN KEY([IDJuego])
REFERENCES [dbo].[Juego] ([IDJuego])
GO
ALTER TABLE [dbo].[PlataformaJuego] CHECK CONSTRAINT [FK_PlataformaJuego_Juego]
GO
ALTER TABLE [dbo].[PlataformaJuego]  WITH CHECK ADD  CONSTRAINT [FK_PlataformaJuego_Plataforma] FOREIGN KEY([IDPlataforma])
REFERENCES [dbo].[Plataforma] ([IDPlataforma])
GO
ALTER TABLE [dbo].[PlataformaJuego] CHECK CONSTRAINT [FK_PlataformaJuego_Plataforma]
GO
ALTER TABLE [dbo].[Usuarios]  WITH CHECK ADD  CONSTRAINT [FK_Usuarios_Roles] FOREIGN KEY([IDRole])
REFERENCES [dbo].[Roles] ([IDRole])
GO
ALTER TABLE [dbo].[Usuarios] CHECK CONSTRAINT [FK_Usuarios_Roles]
GO
/****** Object:  StoredProcedure [dbo].[SP_CREATE_EDITOR]    Script Date: 19/03/2024 12:49:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[SP_CREATE_EDITOR]
(@NombreEditor nvarchar(100))
as
	DECLARE @NEXTID int
	select @NEXTID = Max(IDEditor) + 1 from Editor
	insert into Editor values(@NEXTID, @NombreEditor)
GO
/****** Object:  StoredProcedure [dbo].[SP_CREATE_GENERO]    Script Date: 19/03/2024 12:49:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[SP_CREATE_GENERO]
(@NombreGenero nvarchar(100))
as
	DECLARE @NEXTID int
	select @NEXTID = Max(IDGenero) + 1 from Genero
	insert into Genero values(@NEXTID, @NombreGenero)
GO
/****** Object:  StoredProcedure [dbo].[SP_DELETE_EDITOR]    Script Date: 19/03/2024 12:49:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[SP_DELETE_EDITOR]
(@IDEditor int)
as
	delete from Editor
	where IDEditor = @IDEditor
GO
/****** Object:  StoredProcedure [dbo].[SP_DELETE_GENERO]    Script Date: 19/03/2024 12:49:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[SP_DELETE_GENERO]
(@IDGenero int)
as
	delete from Genero
	where IDGenero = @IDGenero
GO
/****** Object:  StoredProcedure [dbo].[SP_DELETE_JUEGO]    Script Date: 19/03/2024 12:49:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[SP_DELETE_JUEGO]
(@IDJuego int)
as
	delete from juego
	where IDJuego = @IDJuego
GO
/****** Object:  StoredProcedure [dbo].[SP_DETALLES_JUEGO]    Script Date: 19/03/2024 12:49:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[SP_DETALLES_JUEGO]
(@IDJuego int)
as
	select * from Juego where IDJuego = @IDJuego
GO
/****** Object:  StoredProcedure [dbo].[SP_DETALLES_USUARIO]    Script Date: 19/03/2024 12:49:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[SP_DETALLES_USUARIO]
(@IDUsuario int)
as
	select * from Usuarios where IDUsuario = @IDUsuario 
GO
/****** Object:  StoredProcedure [dbo].[SP_FILTRAR_JUEGOS_CATEGORIAS]    Script Date: 19/03/2024 12:49:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[SP_FILTRAR_JUEGOS_CATEGORIAS]
(@idgenero int)
as
	select * from Juego
	where Juego.IDGenero=@idgenero
GO
/****** Object:  StoredProcedure [dbo].[SP_GRUPO_JUEGOS]    Script Date: 19/03/2024 12:49:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[SP_GRUPO_JUEGOS]
(@posicion int)
as
	select IDJuego, NombreJuego, IDGenero, ImagenJuego, PrecioJuego, DescripcionJuego, IDEditor
	from V_GRUPO_JUEGOS
	where posicion >= @posicion and posicion < (@posicion + 4)
GO
/****** Object:  StoredProcedure [dbo].[SP_INSERT_DETALLE_PEDIDO]    Script Date: 19/03/2024 12:49:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[SP_INSERT_DETALLE_PEDIDO]
(@IDJuego int, @Total float, @Cantidad int, @IDPedido int)
AS
	declare @nextid int
	select @nextid = MAX(IDDetallePedido) from DetallesPedido
    INSERT INTO DetallesPedido VALUES (@nextid, @IDJuego, @Total, @Cantidad, @IDPedido)
GO
/****** Object:  StoredProcedure [dbo].[SP_INSERT_DETALLES_PEDIDO]    Script Date: 19/03/2024 12:49:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_INSERT_DETALLES_PEDIDO]
(@IDJuego INT, @Total FLOAT, @Cantidad INT, @IDPedido INT)
AS
    INSERT INTO DetallesPedido (IDJuego, Total, Cantidad, IDPedido)
    VALUES (@IDJuego, @Total, @Cantidad, @IDPedido);
GO
/****** Object:  StoredProcedure [dbo].[SP_INSERT_JUEGO]    Script Date: 19/03/2024 12:49:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[SP_INSERT_JUEGO]
(@NombreJuego nvarchar(100), @IDGenero int, @Imagen nvarchar(100), @Precio float, @Descripcion nvarchar(MAX), @IDEditor int)
as
	DECLARE @NEXTID INT
	SELECT @NEXTID = MAX(IDJuego) +1 FROM Juego
	INSERT INTO Juego VALUES (@NEXTID, @NombreJuego, @IDGenero, @Imagen, @Precio, @Descripcion, @IDEditor)
GO
/****** Object:  StoredProcedure [dbo].[SP_INSERT_PEDIDO]    Script Date: 19/03/2024 12:49:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_INSERT_PEDIDO]
(@FechaPedido DATETIME, @Ciudad NVARCHAR(100), @Pais NVARCHAR(100), @IDUsuario INT, @Total FLOAT)
AS
    INSERT INTO Pedidos VALUES (@FechaPedido, @Ciudad, @Pais, @IDUsuario, @Total);
GO
/****** Object:  StoredProcedure [dbo].[SP_MODIFICAR_EDITOR]    Script Date: 19/03/2024 12:49:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[SP_MODIFICAR_EDITOR]
(@IDEditor int, @NombreEditor nvarchar(100))
as
	update Editor set NombreEditor=@NombreEditor
	where IDEditor = @IDEditor
GO
/****** Object:  StoredProcedure [dbo].[SP_MODIFICAR_GENERO]    Script Date: 19/03/2024 12:49:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[SP_MODIFICAR_GENERO]
(@IDGenero int, @NombreGenero nvarchar(100))
as
	update Genero set NombreGenero=@NombreGenero
	where IDGenero = @IDGenero
GO
/****** Object:  StoredProcedure [dbo].[SP_MODIFICAR_JUEGO]    Script Date: 19/03/2024 12:49:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[SP_MODIFICAR_JUEGO]
(@IDJuego int, @NombreJuego nvarchar(100), @IDGenero int, @ImagenJuego nvarchar(100), @PrecioJuego float, @Descripcion nvarchar(MAX), @IDEditor int)
as
	update Juego set NombreJuego=@NombreJuego, IDGenero=@IDGenero, ImagenJuego=@ImagenJuego, PrecioJuego=@PrecioJuego, DescripcionJuego=@Descripcion, IDEditor=@IDEditor where IDJuego = @IDJuego
GO
/****** Object:  StoredProcedure [dbo].[SP_TODOS_JUEGOS]    Script Date: 19/03/2024 12:49:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[SP_TODOS_JUEGOS]
as
	select * from Juego
GO
/****** Object:  StoredProcedure [dbo].[SP_TODOS_USUARIOS]    Script Date: 19/03/2024 12:49:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[SP_TODOS_USUARIOS]
as
	select * from Usuarios
GO
