.botonesCustom {
    /* border: 1px solid #3079ed; */
    border: 0px;
    color: #fff;
    text-shadow: 0 1px rgba(0,0,0,0.1);
    background-color: rgba(9,9,121,1);
    /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#4787ed)); */
}

    .botonesCustom:hover {
        /* border: 1px solid #2f5bb7; */
        border: 0px;
        text-shadow: 0 1px rgba(0,0,0,0.3);
        background-color: rgba(34,193,195,1);
        /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#357ae8)); */
    }

img {
    object-fit: cover;
    border-radius: 15px;
    height: 150px;
    width: 100px;
}

.card {
    margin-bottom: 20px;
    max-width: 220px;
    min-height: 350px;
    margin-right: 70px;
}

footer {
    background: black;
}

.navbar {
    background: black;
    color: white;
}

a{
    color: white;
}

.navbar-toggler{
    background-color: aqua;
}





















