

.imginicio {
    width: 100%;
    height: 100%;
}


.slick-prev,
.slick-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    outline: none;
    cursor: pointer;
}

.slick-prev {
    left: 10px;
}

.slick-next {
    right: 10px;
}