@model List<Carrito>

<h2>Carrito de Compras</h2>
<table class="table">
    <thead>
        <tr>
            <th>Nombre del Juego</th>
            <th>Precio</th>
            <th>Cantidad</th>
            <th>Subtotal</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.NombreJuego</td>
                <td>@item.PrecioJuego €</td>
                <td>@item.Cantidad</td>
                <td>@(item.PrecioJuego * item.Cantidad) €</td>
            </tr>
        }
    </tbody>
</table>