@model List<Carrito>

@{
    var user = Context.Session.GetString("USUARIO");
}

<h2>Carrito de Compras</h2>

@if (Model.Count == 0)
{
    <p>No hay ningún artículo en tu carrito.</p>
}
else
{
    <div id="carrito">
        <partial name="_Carrito"/>
    </div>
    <p>
        @if (user == null)
        {
            <script>
                window.location.href = '/Usuarios/Login';
            </script>
        }
        <a asp-action="FinalizarPedido" , asp-controller="Juegos" class="btn btn-dark" onclick="mostrarVentanaEmergente()">
            Finalizar Compra
        </a>
    </p>
}

@section Scripts{
    <script>
        function incrementarCantidad(idJuego) {
            $.ajax({
                url: '/Juegos/IncrementarCantidad',
                method: 'POST',
                data: { idJuego: idJuego },
                success: function (response) {
                    $('#carrito').html(response);
                }
            });
        }
    </script>
    <script>
        function decrementarCantidad(idJuego) {
            $.ajax({
                url: '/Juegos/DecrementarCantidad',
                method: 'POST',
                data: { idJuego: idJuego },
                success: function (response) {
                    $('#carrito').html(response);
                }
            });
        }
    </script>
    <script>
        function eliminarJuego(idJuego) {
            $.ajax({
                url: '/Juegos/EliminarJuego',
                method: 'POST',
                data: { idJuego: idJuego },
                success: function (response) {
                    $('#carrito').html(response);
                }
            });
        }
    </script>
    <script>
        function mostrarVentanaEmergente() {
            event.preventDefault();
            Swal.fire({
                title: 'Finalizar Compra',
                html: '<label for="ciudad">Ciudad:</label><input type="text" id="ciudad" name="ciudad" class="swal2-input" required><br><label for="pais">País:</label><input type="text" id="pais" name="pais" class="swal2-input" required>',
                showCancelButton: true,
                confirmButtonText: 'Finalizar Pedido',
                cancelButtonText: 'Cancelar',
                showLoaderOnConfirm: true,
                preConfirm: () => {
                    let ciudad = document.getElementById('ciudad').value;
                    let pais = document.getElementById('pais').value;

                    $.ajax({
                        url: '/Juegos/FinalizarPedido',
                        method: 'POST',
                        data: { ciudad: ciudad, pais: pais },
                        success: function (response) {
                            Swal.fire('¡Pedido completado!', response.message, 'success');
                        },
                        error: function (xhr, status, error) {
                            // Manejar errores si es necesario
                            Swal.fire('Error', 'Hubo un problema al procesar el pedido.', 'error');
                        }
                    });
                }
            });
        }
    </script>
    <script>
        function redirectToLogin() {
            window.location.href = '/Usuarios/Login';
        }
    </script>
}
