@model List<Juego>

@{
    ViewData["Title"] = "Juegos";
    var generos = ViewData["GENEROS"] as List<Genero>;
}

<div class="container mt-5 mb-5">
    @using (Html.BeginForm("Games", "Juegos", FormMethod.Get))
    {
        <label for="precio"><i class="bi bi-filter"></i></label>
        <select name="precio" id="precio">
            <option value="asc">Precio Ascendente</option>
            <option value="desc">Precio Descendiente</option>
        </select>
        <button type="submit" value="search">Filtrar</button>
    }
    
    <hr />
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 g-5">
        @foreach (Juego game in Model)
        {
            <div class="col">
                <div class="card shadow-sm">
                    <img src="~/images/@game.ImagenJuego">
                    <div class="card-body">
                        <h5 class="card-title">@game.NombreJuego</h5>
                        <p class="card-text">@game.PrecioJuego €</p>
                        <div class="d-flex justify-content-between align-items-center">
                            @Html.ActionLink("Detalles", "Details", "Juegos", new { IdJuego = game.IdJuego }, new { @class = "btn btn-dark" })
                            <form method="post" asp-action="AñadirCarritoLista" enctype="multipart/form-data">
                                <button type="submit" class="btn btn-dark" id="comprarButton">
                                    Comprar
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

