@model List<Juego>

@{
    ViewData["Title"] = "Login";
}

<div class="container mt-5">
        @foreach (Juego game in Model)
        {
            <div class="card d-inline-flex p-2 text-center">
                <img class="card-img-top" src="~/images/@game.ImagenJuego" alt="Card image cap">
                <div class="card-body">
                <h5 class="card-title">@game.NombreJuego</h5>
                    <p class="card-text">@game.PrecioJuego €</p>
                    @Html.ActionLink("Comprar", "Details", "Juegos", new{ IdJuego = game.IdJuego}, new {@class = "btn btn-dark"})
                </div>
            </div>
        }
</div>

