@model List<Juego>

@{
    ViewData["Title"] = "Login";
}

<div class="container mt-5">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-5 g-5">
        @foreach (Juego game in Model)
        {
            <div class="col">
                <div class="card shadow-sm">
                    <img src="~/images/@game.ImagenJuego">
                    <div class="card-body">
                        <h5 class="card-title">@game.NombreJuego</h5>
                        <p class="card-text">@game.PrecioJuego €</p>
                        <div class="d-flex justify-content-between align-items-center">
                            @Html.ActionLink("Comprar", "Details", "Juegos", new{ IdJuego = game.IdJuego}, new {@class = "btn btn-dark"})
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

