@model List<Juego>

@{
    ViewData["Title"] = "Login";
    var juegosDesc = ViewData["JUEGOSDESC"] as List<Juego>;
    var juegosAsc = ViewData["JUEGOSASCE"] as List<Juego>;
    
}

<div class="container mt-5">
    @using (Html.BeginForm("Home", "Juegos", FormMethod.Get))
    {
        <label for="precio"><i class="bi bi-filter"></i></label>
        <select name="precio" id="precio">
            <option value="asc">Precio Ascendente</option>
            <option value="desc">Precio Descendiente</option>
        </select>
        <button type="submit" value="search">Filtrar</button>
    }
    <hr />
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-5 g-5">
        @foreach (Juego game in Model)
        {
            <div class="col">
                <div class="card shadow-sm">
                    <img src="~/images/@game.ImagenJuego">
                    <div class="card-body">
                        <h5 class="card-title">@game.NombreJuego</h5>
                        <p class="card-text">@game.PrecioJuego €</p>
                        <div class="d-flex justify-content-between align-items-center">
                            @Html.ActionLink("Comprar", "Details", "Juegos", new{ IdJuego = game.IdJuego}, new {@class = "btn btn-dark"})
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

