@model List<Juego>

@{
    ViewData["Title"] = "Juegos por Género";
}

<h2>Juegos por Género</h2>

@if (Model.Any())
{
    <div class="container mt-5">
        @using (Html.BeginForm("Home", "Juegos", FormMethod.Get))
        {
            <label for="precio"><i class="bi bi-filter"></i></label>
            <select name="precio" id="precio">
                <option value="asc">Precio Ascendente</option>
                <option value="desc">Precio Descendiente</option>
            </select>
            <button type="submit" value="search">Filtrar</button>
        }
        <hr />
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-5 g-5">
            @foreach (var juego in Model)
            {
                <div class="col">
                    <div class="card shadow-sm">
                        <img src="~/images/@juego.ImagenJuego">
                        <div class="card-body">
                            <h5 class="card-title">@juego.NombreJuego</h5>
                            <p class="card-text">@juego.PrecioJuego €</p>
                            <div class="d-flex justify-content-between align-items-center">
                                @Html.ActionLink("Detalles", "Details", "Juegos", new { IdJuego = juego.IdJuego }, new { @class = "btn btn-dark" })
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
}
else
{
    <p>No se encontraron juegos para este género.</p>
}
