@model List<DetallePedidoView>

@if (Model == null || Model.Count == 0)
{
    <h2 class="text-danger" style="text-align: center;">No hay pedidos realizados</h2>
}
else
{
    <h1>Pedidos realizados</h1>

    <div class="container mt-5">
        @foreach (var pedido in Model.GroupBy(p => p.IdPedido))
        {
            <div class="row mb-4">
                <div class="col" style="background-color: #9acb8d">
                    <h3>Pedido @pedido.Key</h3>
                </div>
            </div>
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-1 g-2">
                @foreach (var detallePedido in pedido)
                {
                    <div class="col">
                        <div class="card shadow-sm" style="border-radius: 35px; margin-bottom:1rem">
                            <div class="card-body">
                                <h5 class="card-title">@detallePedido.NombreJuego</h5>
                                <p class="card-text">@detallePedido.PrecioUnitario €</p>
                                <p class="card-text" style="font-weight: bold">Total pedido: @detallePedido.TotalPedido €</p>
                            </div>
                        </div>
                    </div>
                }
            </div>
        }
    </div>
}
