@{
    ViewData["Title"] = "Registro";
}

<div class="register-card">
    <form method="post">
        <h1>Registro</h1><br>

        <input type="text" name="nombre" placeholder="Nombre">
        <input type="text" name="apellidos" placeholder="Apellidos">
        <input type="text" name="email" placeholder="Email">
        <input type="password" name="password" placeholder="Password">
        <input type="text" name="telefono" placeholder="Telefono">
        <input type="text" name="IDRole" value="2" readonly>
        <input type="submit" name="registro" class="register register-submit" value="Registro">
    </form>
    <p class="text-center">
        ¿Ya tienes cuenta?
    </p>
    <div class="register-help">
        <a asp-action="Login" asp-controller="Usuarios">Login</a>
    </div>
</div>

<h1>@ViewData["MENSAJE"]</h1>