﻿<h1>Registro Usuario</h1>

<form method="post">
    <label>Nombre: </label>
    <input type="text" name="nombre" class="form-control" />
    <label>Apellidos: </label>
    <input type="text" name="apellidos" class="form-control" />
    <label>Email: </label>
    <input type="text" name="email" class="form-control" />
    <label>Password: </label>
    <input type="password" name="password" class="form-control" />
    <label>Telefono: </label>
    <input type="number" name="telefono" class="form-control" />
    <button class="btn btn-info">
        Registro
    </button>
</form>

<h1>@ViewData["MENSAJE"]</h1>